@using FinalProject.Models
@model HockeyTeam
<head>
    <link rel="stylesheet" href="~/css/Background.css" type="text/css" />
</head>
<h3>@Model.TeamName</h3>
<body style="background-image:url(~/images/Background/TeamBackground.jpg)">
<table class="table">
    <tr>
        <th>TeamName</th>
        <th>InceptionYear</th>
        <th>Championships</th>
       @* <th>TeamID</th>*@
        <th>TeamFact</th>
        <th>TeamImage</th>
    </tr>
    <tr>
        <td>@Model.TeamName</td>
        <td>@Model.InceptionYear</td>
        <td>@Model.Championships</td>
        <td>@Model.TeamFact</td>
        <td><img src="~/@Model.MascotImage" /></td>
    </tr>

</table>

<div style="display: block">
    <a href="/HockeyTeams/UpdateTeam/@Model.TeamID">Update this HockeyTeam</a>
</div>

<div style="display: block">
    <img src="~/images/Background/TeamBackground.jpg" />
    @using (Html.BeginForm("DeleteHockeyTeam", "HockeyTeam", "Post"))
    {
        <input type="hidden" asp-for="TeamID" value="@Model.TeamID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this team" />
    }
</div>
</body>